# Data Types and Structures Assignment:

#Theoretical Questions:

1. What are data structures, and why are they important?
- Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.They can be the containers that holds our data.

2.  Explain the difference between mutable and immutable data types with examples?
- Mutable data types are those whose values can be changed after they are created. For Eg: Lists,Dictionaries,Sets

-Immutable data types are those whose values cannot be changed once they are created. If you try to modify an immutable object, a new object is created instead. For Eg:Integers , Floats , complex numbers , strings , tuples.

3. What are the main differences between lists and tuples in Python?
- Lists are mutable. Lists consume more memory.The list is better for performing operations, such as insertion and deletion.Lists consume more memory.Lists have several built-in methods and fucntions.

-Tuples are immutable.Tuple consumes less memory as compared to the list.Tuple does not have many built-in methods.Because tuples don’t change they are far less error in them .

4.Describe how dictionaries store data?
- A dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.
for eg:
x = {1: "rahul", 2: "ravneet", 3: "raveena"}

5. Why might you use a set instead of a list in Python?
- A set is an unordered collection of unique elements. Sets are defined using curly braces {} or the set() function.A set Contain only unique elements and  automatically removing duplicates.It Support mathematical operations like union, intersection, and difference.It Support mathematical operations like union, intersection, and difference.It is Suitable for membership testing and eliminating duplicates.It can be useful when you need to ensure all elements are unique.

-A list is an ordered collection of elements that can contain duplicates. Lists are defined using square brackets [].It Slower for membership tests as it may need to check each element. It Support slicing, indexing, and various sequence operations.

6. What is a string in Python, and how is it different from a list?
- A Python string is a data structure that represents a sequence of characters and is defined by (') or (") quotes.Python strings are immutable, which means they cannot be changed or altered after they have been created. Strings can be concatenated using the + operator. This creates a new string that contains the characters of both strings.Characters in a string can be accessed using their index, which starts at 0.

- A Python list is used to store different data types, like strings, integers, lists, etc.A list is an ordered collection of elements.A list can hold duplicate values.Lists are mutable, which means you can add, remove, or modify elements after the list is created.

7.  How do tuples ensure data integrity in Python?
- The main characteristics of tuples are being ordered , heterogeneous and immutable. Tuples can hold elements of different data types. Tuples can be used to store heterogeneous data, ensuring that the structure and order of the data remain intact.

8.What is a hash table, and how does it relate to dictionaries in Python?
- A Hash table is defined as a data structure used to insert, look up, and remove key-value pairs quickly.Whereas dictionaries in python serves the same purpose and Dic. are also known as Builtin Hashtables.

9.Can lists contain different data types in Python?
- In Python, lists can contain elements of different data types. For example, you can have integers, floats, strings, and even other lists all within the same list.

10. Explain why strings are immutable in Python?
- Strings in Python are “immutable” which means they can not be changed after they are created. Immutability is very important in Python, as it helps in data safety and interpreter performance. The string data type is very common in Python programs hence they are immutable.Since immutable objects cannot change their value, Python can optimize memory usage.With immutability, you can be confident that a given object’s value will not change unexpectedly.

11.What advantages do dictionaries offer over lists for certain task?
- Dictionaries offer several advantages over lists for certain tasks:


Quick Data Look-ups: Dictionaries allow for fast access to values using keys.
They help in organizing data efficiently, reducing complexity when handling large datasets.
 Dictionaries can store data in key-value pairs, which allows for more complex data structures compared to the linear nature of lists.

 Efficient Searching: For example, when storing phone numbers, dictionaries enable quicker searches for specific numbers compared to searching through a list of pairs.
 These features make dictionaries particularly useful in scenarios where quick access and organization of data are essential.

 12. Describe a scenario where using a tuple would be preferable over a list.
-When we want to ensure that data is not changed accidentally. Tuples being immutable do not allow any changes in its data.When we want faster access to data that will not change as tuples are faster than lists.

When we want to use the data as a key in a dictionary. Tuples can be used as keys in a dictionary, but lists cannot.

When we want to use the data as an element of a set. Tuples can be used as elements of a set, but lists cannot.

13.  How do sets handle duplicate values in Python?
- In Python, sets are a built-in data type that automatically handle duplicate values by ensuring that each element is unique. When you add elements to a set, any duplicates are automatically removed.

14.  How does the “in” keyword work differently for lists and dictionaries?
- The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm. As the list gets longer, the search time gets longer in direct
proportion. For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary.

15.  Can you modify the elements of a tuple? Explain why or why not?
- In Python, you cannot modify the elements of a tuple because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed. If you need to modify the data, you can convert the tuple into a list, make the changes, and then convert it back into a tuple. This immutability is a key characteristic that distinguishes tuples from lists, which are mutable.

16.  What is a nested dictionary, and give an example of its use case?
- Nesting Dictionary means putting a dictionary inside another dictionary.In Python, a Nested dictionary can be created by placing the comma-separated dictionaries enclosed within braces.

17.  Describe the time complexity of accessing elements in a dictionary?
- The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

18.  In what situations are lists preferred over dictionaries?
- Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they do not maintain an inherent positional index like lists or arrays; instead, they use keys to uniquely identify and retrieve values associated with those keys. This means that the order in which elements are stored is not the same as the order in which they are printed. The unordered nature of dictionaries allows for optimized storage and fast retrieval based on keys, which can enhance performance when accessing data.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
- Accessing elements of a list is a common operation and can be done using different techniques.Indexing is the simplest and most direct way to access specific items in a list. Every item in a list has an index starting from 0. We can also use for loop , Slicing and list comprehension techniques for data retrieval in a list.

whereas in dictionary they use keys to uniquely identify and retrieve values associated with those keys.We can also use get() , "in" keyword techniques for data retrieval.

## Practical Questions :

In [1]:
#1.  Write a code to create a string with your name and print it.

name = "Yogesh singh Rawat"
print(name)

Yogesh singh Rawat

In [2]:
#2.  Write a code to find the length of the string "Hello World"

string = "Hello World"
print(len(string))

11

In [3]:
#3.  Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
print(string[0:3])

Pyt

In [11]:
#4.  Write a code to convert the string "hello" to uppercase.

str1 = "hello"
my_str = str1.upper()
print(my_str)

HELLO

In [13]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

str2 = "I like apple"
my_str1 = str2.replace("apple","orange")
print(my_str1)

I like orange

In [14]:
#6.  Write a code to create a list with numbers 1 to 5 and print it

list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [15]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

list2 =  [1, 2, 3, 4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [16]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5

list3 = [1, 2, 3, 4, 5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [17]:
#9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list4 = ['a', 'b', 'c', 'd']
print(list4[1])

b

In [18]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

list5 = [10, 20, 30, 40, 50]
list5.reverse()
print(list5)

[50, 40, 30, 20, 10]

In [19]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it

tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [20]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple2 = ('red', 'green', 'blue', 'yellow')
print(tuple2[-2])

blue

In [21]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple3 = (10, 20, 5, 15)
print(min(tuple3))

5

In [23]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple4 = ('dog', 'cat', 'rabbit')
print(tuple4.index("cat"))

1

In [25]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

tuple5 = ("apple", "banana", "cherry")
if "kiwi" in tuple5:
  print("Yes, 'kiwi' is in the fruits tuple")
else:
  print("No, 'kiwi' is not in the fruits tuple")

No, 'kiwi' is not in the fruits tuple

In [26]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1 = {'a', 'b', 'c'}
print(set1)

{'b', 'c', 'a'}

In [29]:
#17.
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [31]:
#18.
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [32]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set4 = {1, 2, 3}
set5 = {3, 4, 5}
print(set4.union(set5))

{1, 2, 3, 4, 5}

In [33]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set6 = {1, 2, 3}
set7 = {2, 3, 4}
print(set6.intersection(set7))

{2, 3}

In [34]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict = {"name": "Yogesh", "age": 22, "city": "Chandigarh"}
my_dict

{'name': 'Yogesh', 'age': 22, 'city': 'Chandigarh'}

In [35]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict1 = {'name': 'John', 'age': 25}
my_dict1["country"] = "USA"
my_dict1

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

my_dict2 = {'name': 'Alice', 'age': 30}
print(my_dict2["name"])

Alice

In [37]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict3.pop("age")
my_dict3

{'name': 'Bob', 'city': 'New York'}

In [38]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

my_dict4 = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict4:
  print("Yes, 'city' is one of the keys in the dictionary")

Yes, 'city' is one of the keys in the dictionary

In [40]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

list1 = [1,2,3,4,5]
tuple1 = (1,2,3,4,5)
dict1 = {"name": "Yogesh", "age": 22, "city": "Chandigarh"}

print(list1)
print(tuple1)
print(dict1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Yogesh', 'age': 22, 'city': 'Chandigarh'}

In [41]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

list6 = [20, 30, 10, 50, 40]
list6.sort()
print(list6)

[10, 20, 30, 40, 50]

In [42]:
#28. Write a code to create a list with strings and print the element at the third index.

list7 = ["apple", "banana", "cherry", "date", "elderberry"]
print(list7[3])

date

In [51]:
#29.Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [52]:
#30. Write a code to convert a list of strings into a set.

list8 = ["apple", "banana", "cherry", "date", "elderberry"]
set1 = set(list8)
print(set1)

{'banana', 'date', 'cherry', 'apple', 'elderberry'}

##            End of assingment